.App {
  background: #582900;
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
}

.Mower {
  width: 100px;
  height: 100px;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}
